@import "../../node_modules/cefc-ui-style/src/mixins/utils.less";
@import "../../@{theme}";
@toastPrefixCls: cefc-toast;

.@{toastPrefixCls} {
  position: fixed;
  z-index: 9999;
  min-width: 2rem;
  max-width: 4rem;
  left: 50%;
  top: 50%;
  padding: @v-spacing-xl @h-spacing-lg;
  border-radius: 2px;
  border: 1px solid transparent;
  word-wrap: break-word;
  font-size: @font-size-base;
  background-color: @fill-grey;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: opacity 0.3s, transform 0.15s;
  opacity: 0;
  text-align: center;
  color: @color-text-paragraph;
}

.@{toastPrefixCls}--open {
  opacity: @opacity-disabled;
  transform: translate(-50%, 0);
}

.@{toastPrefixCls}__symbol {
  position: absolute;
  left: 0.3rem;
  top: 50%;
  font-size: 0.3rem;
  transform: translateY(-50%);
}

.@{toastPrefixCls}__remove {
  position: absolute;
  top: 0;
  right: 0;
  height: @icon-size-xxs;
  width: @icon-size-xxs;
  background: @fill-grey url(Snip20171128_1.png) no-repeat center center;
}

.@{toastPrefixCls}--success {
  .@{toastPrefixCls}__symbol {
    color: @brand-success;
  }
}

.@{toastPrefixCls}--danger {
  .@{toastPrefixCls}__symbol {
    color: @brand-error;
  }
}

.cefc-button {
  background-color: @brand-wait;
  width: 100%;
  height: 0.44rem;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  line-height: inherit;
  text-align: center;
  border: 0;
  border-radius: 0.05rem;
  color: @color-text-base-inverse;
}
